.contactForm {
    width: 35rem;
    max-width: 90%;

    background: linear-gradient(120deg, var(--bg-primary), var(--bg-secondary));
    color: var(--fg-secondary);
    
    display: flex;
    flex-direction: column;

    padding: 2rem;
    border-radius: 1rem;

    > label {
        width: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        span {
            width: 100%;
            display: inline-block;

            padding-left: 5.5%;   
        }

        input, textarea {
            width: 90%;
            height: 3rem;

            border: none;
            outline: none;

            border-radius: 0.5rem;
            padding-left: 0.5rem;

            margin-bottom: 1rem;
            background: var(--bg-secondary);

            color: var(--fg-primary);
            transition: all 0.4s ease-in-out;

            &:focus {
                filter: brightness(1.25);  
            }
        }

        textarea {
            resize: none;
            height: 10rem;
            padding: 0.5rem;
        }
    }

    button {
        width: 90%;
        border-radius: 0.5rem;
    
        border: none;
        margin: auto;

        height: 3rem;
        display: flex;

        justify-content: center;
        align-items: center;

        background: var(--bg-secondary);
        color: var(--fg-primary);

        gap: 0.8rem;
        transition: 0.4s ease-in-out;

        outline: none;
        cursor: pointer;

        &:hover {
            background: var(--bg-tertiary);
            color: var(--fg-tertiary);
        }
    }
}